
body {
    background-image: url(../images/background.jpeg);
    background-size: cover;
    color: aliceblue;
}

/* Title */
h1 {
    padding: 2rem 0;
    font-size: 3rem;
    font-family: 'Major Mono Display', monospace;
}

/* Both buttons */
.btn {
    margin: 1rem;
    font-size: 1.3rem;
    font-family: 'Thasadith', sans-serif;
    background-color: rgba(0, 0, 0, .9);
    border: 1px solid black;
}

.btn:hover {
    background-color: rgba(0, 0, 0, .6);
    border: 1px solid black;
}

/* Question Container Styles */
.container {
    margin: 6rem;
    height: 100vh;
}

.question,
.answer,
.time {
    font-size: 2rem;
    font-family: 'Thasadith', sans-serif;
    padding: 1rem;
}

.answer:hover {
    color: #CA4CFF;
}

/* Result page images */
img {
    width: 450px;
    margin: 1.5rem;
    border: 2px solid #8F00CC;
}